@import ".meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic";
@import ".meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons";

.modal-enter {
  border: 1px solid black;
  transform: translateY(50%) scale3d(0,0,0);
}

.modal-enter.modal-enter-active {
  transform: translateY(0) scale3d(1,1,1);
  transition: transform .5s ease;;
}

.modal-leave {
  border: 1px solid black;
  transform: translateY(0) scale3d(1,1,1);
}

.modal-leave.modal-leave-active {
  transform: translateY(50%) scale3d(0,0,0);
  transition: transform .5s ease;;
}